.prices__card {
   border: 1px solid $gray; 
   padding: 2rem;
   background: $white;

   &__title {
    font-size: $large;
    font-weight: $regular;
   }

   &__price {
    font-size: $xx-large;
   }

    &__list {
        font-family: $open-sans;
        font-size: $small;
        line-height: 1.6;
        padding: 1rem 1.5rem;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;

        li {
            padding: .5rem 1rem;
        }

        &--short {
            padding-bottom: 6.6rem;
        }
    }

    &__buttons {
        width: 100%;
        border: none;
        background: $ball-blue;
        color: $white;
        padding: 1rem;
        font-size: $medium;
        margin-top: 1.5rem;
        font-family: $raleway;
        font-weight: $bold;

        &--hover:hover {
            background: $middle-blue;
        }

        &--focus:focus {
            background: $spanish-gray;
        }
    }

}

