/* logo */
.header__logo {
    height: 2rem;
}

/* hero */
.intro__bg-hero {
    background-image: url(../images/bg-hero.svg);
    background-position: 96% 20%;
    background-repeat: no-repeat;
    background-size: 165%;
    height: 60vh;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translateY(-5%);
}

@media (min-width: 768px) {
    .intro__bg-hero {
        background-position: 0%;
        background-size: cover;
        height: 70vh;
        transform: translateY(-12%);
    }
    
}

@media (min-width: 1200px) {
    .intro__bg-hero {
        background-position: 0%;
        background-size: cover;
        height: 110vh;
        transform: translateY(-35%);
    }
}



/* gráfico */
.features__graph__img {
    padding-top: 2rem; 
    
    svg {
        height: 28vh;
    } 
    
    .a-bar, .plane {
        animation-name: appear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    .b-bar {
        animation-name: appear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
}

/* bg precios */
.prices-bg {
    background-image: url(../images/bg-price.svg);
    background-position: 96% 20%;
    background-repeat: no-repeat;
    background-size: 165%;
    height: 30vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: $white;
    padding: 7rem;
}

@media (min-width: 768px) {
    .prices-bg {
        background-position: 0 0;
        background-size: 100%;
    }
}

@media (min-width: 1200px) {
    .prices-bg {
        background-position: 96% 14%;
        background-size: 100%;
    }
}
