footer {
    padding: 2rem;
    background: $raising-black;
    color: $white;
    font-family: $open-sans;
    font-weight: $regular;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h6 {
        font-weight: $regular;
        font-size: $small;
    }

    .footer__nav {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }

    .footer__rights {
        display: flex;
        justify-content: center;
        width: 80vw;
    }
    
}


@media (min-width: 768px) {
   footer {
    .footer__nav {
        justify-content: space-evenly;
    }
   }
}


@media (min-width: 1200px) {
    footer {
        .row {
            display: flex;
            justify-content: space-between;
        } 
    }
}