section {
    padding: 0 2.5rem;
    width: 100vw;
}

.features {
    padding-bottom: 4rem;

    &__graph {
        width: 75%; 
    }

    &__text {
        width: 80%;
    }
}

.prices {
    background: $onyx;
    padding-bottom: 3rem; 

    &__title {
        color: $white;
        padding: 7rem;
    }
}