section {
  padding: 0 2.5rem;
  width: 100vw;
}

.features {
  padding-bottom: 4rem;

  &__graph,
  &__text {
    width: 100%;
  }
}

.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $onyx;
  padding-bottom: 3rem;
  width: 100vw;

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}


@media (min-width: 768px) {
    .features__graph, .features__text {
        width: 85%;
        display: flex;
        justify-self: center;
        flex-wrap: wrap;
    }
    
    .features__text {
        padding-bottom: 5rem;
    }
}


@media (min-width: 1200px) {

  .prices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;

    .row {
      display: flex;
      justify-content: center;

    }
  }

  .features {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    padding-bottom: 10rem;

    &__title {
      width: 100vw;
    }
    &__graph {
      width: 30%;
    }

    &__text {
      width: 30%;
      padding-bottom: 0;
    }

    .row {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80vw;
    }
  }

  .intro__content {
    position: relative;
    position: relative;
    top: 5vh;
    left: 10vw;
  }


}
