section {
  padding: 0 2.5rem;
  width: 100vw;
}

.features {
  padding-bottom: 4rem;

  &__graph,
  &__text {
    width: 100%;
  }
}

.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $onyx;
  padding-bottom: 3rem;
  width: 100vw;

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .features,
  .prices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .features {
    padding: 0 5rem;
    transform: translateY(-80%);

    &__title {
      width: 100vw;
    }
    &__graph {
      width: 30%;
    }

    &__text {
      width: 50%;
    }
  }

  .intro__content {
    position: relative;
    float: left;
  }
}
