.container,
.container-fluid {

    .row {
        display: grid;
        border: 2px solid lighten($black, 50%);
        padding: 5px;
        grid-template-columns: repeat($number-columns, 1fr);
        grid-gap: 10px;
    }
}